<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
  </head>
<body ng-app="Assignment1NgApp">
   <div class="container">
     <h1>Lunch Checker</h1>
 <div ng-controller="Assignment1Controller">
         <div class="form-group">
             <input id="lunch-menu" type="text"  ng-model="menu"

             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click='check()' >Check If Too Much</button>
         </div>
         <div class="form-group message">          
           <!-- Your message can go here. -->
           {{message}}
         </div>
       </div>
   </div>

</body>
</html>
