<table class="table table-striped" ng-if="foundItemsDC.showItems()">
  <thead>
    <tr><th>Short Name</th><th>Name</th><th>Description</th><th>Actions</th></tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in foundItemsDC.foundItems">
      <td>{{item.short_name}}</td>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td><button class="btn btn-primary" ng-click="foundItemsDC.onRemove({index: $index});">Don't want this one!</button></td>
    </tr>
  </tbody>
</table>
<div class="alert alert-danger" ng-if="foundItemsDC.showAlert()">Nothing found</div>
